<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    <div class="container" style="margin-top: -8%">
        <h2>Configuración</h2>
        <div class="uk-overflow-auto" style="height:500px; overflow:auto;margin-top: 5%">
            <div class="list-group">
              <a href="#/sedes" class="list-group-item">Sedes</a>
              <a href="#/cursos" class="list-group-item">Cursos</a>
<!--              <a href="#/planes" class="list-group-item">Planes</a>-->
              <a href="#/usuarios" class="list-group-item">Usuarios</a>
<!--              <a href="#" class="list-group-item">Roles Usuarios</a>-->
            </div>
        </div>
	</div>
	<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
	
</div>