<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    
    <div class="container" style="margin-top: -8%">
        <h2><a href="#/alumnos_matricula" class="uk-link-heading">Matriculas&nbsp;</a>/&nbsp;Registro Matricula</h2>

        <div class="uk-overflow-auto" style="height:500px; overflow:auto;margin-top: 5%">

            <form class="uk-form-horizontal uk-margin-large" style="">
                <h3><b>Alumno</b></h3>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input oninput="checkRut(this)" ng-model="usuario.rut" class="uk-input" id="form-horizontal-text" maxlength="10" type="text" placeholder="Rut">
                    </div>
                    <div>
                        <input class="uk-input" id="form-horizontal-text" type="text" ng-model="usuario.nombre" placeholder="Nombre">
                    </div>
                    <div style="text-align: left">
                        <label>Fecha Nacimiento</label>
                        <input type="date" name="fecha" ng-model="usuario.fecha_nacimiento">
                    </div>
                    
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input class="uk-input" id="form-horizontal-text" type="mail" ng-model="usuario.correo" placeholder="Correo">
                    </div>
                    <div>
                        <input class="uk-input" id="form-horizontal-text" ng-model="usuario.telefono" type="phone" placeholder="Telefono">
                    </div>
                    <div>
                        <input class="uk-input" ng-model="usuario.ciudad" id="form-horizontal-text" type="text" placeholder="Ciudad">
                    </div>
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                     <div>
                        <input class="uk-input" id="form-horizontal-text" ng-model="usuario.direccion" type="text" placeholder="Direccion">
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                </div>
                <!--Fin Alumno-->
                <h3><b>Matricula</b></h3>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                   <div>
                        <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Curso">
                    </div>
                    <div style="text-align: left">
                        <label>Semestres</label>
                        <select class="uk-select" ng-model="matricula.semestres" id="form-horizontal-select" ng-change="" style="width: 60%">
                            <option value="" selected disabled>Seleccione Semestres</option>
                            <option value="1">1 Semestre</option>
                            <option value="2">2 Semestres</option>
                            <option value="3">3 Semestres</option>
                            <option value="4">4 Semestres</option>
                            <option value="5">5 Semestres</option>
                            <option value="6">6 Semestres</option>
                            <option value="7">7 Semestres</option>
                            <option value="8">8 Semestres</option>
                        </select>
                    </div>
                    <div></div>
                </div>
                <!--Fin Matricula-->
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input class="uk-input" ng-model="matricula.monto" id="form-horizontal-text" type="text" placeholder="$ Valor">
                    </div>
                    <div style="text-align: left">
                        <label>Plan</label>
                        <select class="uk-select" ng-model="matricula.planes" id="form-horizontal-select" ng-change="Seleccion_plan()" style="width: 60%">
                            <option value="" selected disabled>Seleccione un Plan</option>
                            <option value="1">Cuota1</option>
                            <option value="2">Cuota2</option>
                            <option value="3">Cuota3</option>
                            <option value="4">Cuota4</option>
                        </select>
                    </div>
                    <div style="text-align: left">
                        <label style="margin-right: 20px">Valor Cuota</label>
                        <input disabled class="uk-input" ng-model="matricula.valor_cuota" type="text" placeholder="Valor Cuota" style="width: 60%">
                    </div>
                </div>
                
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div style="text-align: left">
                        <input class="uk-input" id="form-horizontal-text" type="mail" placeholder="$ Valor Arancel">
                    </div>
                    <div style="text-align: left">
                        <label style="margin-right: 20px">Primera Cuota</label>
                        <input type="date" name="fecha">
                    </div>
                    <div style="text-align: left">
                        <label style="margin-right: 20px">Ultima cuota</label>
                        <input type="date" name="fecha">
                    </div>
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div style="text-align: left">
                        <label style="margin-right: 20px">Fecha Arancel</label>
                         <input type="date" name="fecha">
                    </div>
                </div>
            </form>
            <div style="text-align: right"><button ng-click="Crear_matricula()" class="uk-button uk-button-primary" style="background: green">Registrar</button></div>
        </div>
	</div>
	<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
	
</div>
<!--
<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    <div class="row" style="margin-top: -8%;margin-left: 1%">
      <h2>Registro Matricula</h2>
      <div class="col-md-9" style="margin-top: 3%">
        <form class="uk-form-horizontal uk-margin-large" style="">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Text</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text...">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Select</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-horizontal-select">
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-form-label">Radio</div>
                <div class="uk-form-controls uk-form-controls-text">
                    <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
                    <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                </div>
            </div>

        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
    
</div>-->
