<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    
    <div class="container" style="margin-top: -8%">
        <h2><a href="#/docentes" class="uk-link-heading">Docentes&nbsp;</a>/&nbsp;Agregar Docente</h2>
        <div class="uk-overflow-auto" style="height:500px; overflow:auto;margin-top: 5%">

            <form name="form1" ng-submit="form1()" class="uk-form-horizontal uk-margin-large" style="">
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input oninput="checkRut(this)" ng-model="usuario.rut" class="uk-input" id="form-horizontal-text" maxlength="10" type="text" placeholder="Rut" autocomplete="off" required>
                    </div>
                    <div>
                        <input ng-model="usuario.nombre" class="uk-input" id="form-horizontal-text" type="text" placeholder="Nombre" autocomplete="off" required>
                    </div>
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input ng-model="usuario.correo" class="uk-input" id="form-horizontal-text" type="email" placeholder="Correo" autocomplete="off" required>
                    </div>
                    <div style="text-align: left">
                         <label style="margin-right: 20px">Fecha de Nacimiento</label>
                        <input id="today" ng-model="usuario.fecha_n" type="date" name="fecha" required>
                    </div>
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input ng-model="usuario.ciudad" class="uk-input" id="form-horizontal-text" type="text" placeholder="Ciudad" autocomplete="off" required>
                    </div>
                    <div>
                        <input ng-model="usuario.telefono" class="uk-input" id="form-horizontal-text" type="number" placeholder="Telefono" autocomplete="off" required>
                    </div>
                </div>
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <input ng-model="usuario.direccion" class="uk-input" id="form-horizontal-text" type="text" placeholder="Dirección" autocomplete="off" required>
                    </div>
                    <div></div>
                </div>
                <div style="text-align: right"><button ng-click="crearUsuario()" class="uk-button uk-button-primary" style="background: green">Registrar</button></div>
            </form>
            
        </div>
	</div>
	<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
	
</div>