<ng-include src="'tools/menu_up.html'"></ng-include>
<!-- START SECTION -->
<!--
  		<div class="section hero big background-brand dark-bg">
  			<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
  			<div class="container">
  				<div class="row">
  					<div class="col-md-6">
  						<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
  						<p class="lead">Lorem, Ipsum, Dollar.</p>
              <p class="home-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id ex est. Nullam mattis mauris quis. </p>
  					</div>
  				</div>
  			</div>
  		</div>
-->
  		<!--/.section section hero background-light -->

  		<!-- START SECTION -->
  		<div id="about" class="section hero big background-brand dark-bg">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-6 col-md-offset-6">
  						<h2 class="section-title">App-Plataforma<br>te da la bienvenida!</h2>
              <p>Una plataforma diseñada para usted, enfocada en autocomplacer a nuestro cliente.</p>
  					</div>
  				</div>
  			</div>
        <div class="absolute-md absolute-wrapper zero-col hidden-sm">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5">
                <div class="background-image" style="background: url(img/logo.jpg) no-repeat center center; background-size: cover;"></div>
              </div>
            </div>
          </div>
        </div>
  		</div>
  		<!--/.section -->
      <!-- START SECTION -->
<!--
      <div class="section hero background-dark dark-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="section-title">Lorem ipsum dolor</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id ex est. Nullam mattis mauris quis ipsum elementum, ac egestas velit suscipit. Duis condimentum ut enim ac vehicula. Suspendisse hendrerit orci turpis, eget rhoncus nunc hendrerit ut. Quisque nec accumsan nisi. In facilisis erat a leo vehicula tempor. Mauris cursus, ante non ornare tincidunt, dolor dolor luctus enim, quis porttitor diam arcu id purus.</p>
            </div>
          </div>
        </div>
      </div>
-->
      <!--/.section -->