<div class="row">
    <div class="col-md-1" style="text-align: center"><a href="#/alumnos">&#8592; volver</a></div>
    <div class="col-md-9"></div>
  <div class="col-md-2"><button ng-click="pdf()" class="uk-button uk-button-danger">export PDF</button></div>
</div>


<div id="imprimir">
    <img src="/img/head2.png" style="margin-left: 250px;" width="550">
    <p>______________________________________________________________________</p>
    <p style="text-align: center;"><B>PAGARE A LA ORDEN</B><br>______________________________________________________________________</p>
    <div style="font-size: 11px"><p>SUSCRIPTOR:  SAMUEL ELIAS SEPULVEDA VIVANCO
Debo y pagaré a la orden de Centro de Capacitacion Empowerment . Institución educacional, persona natural de derecho privado, Rut. 76.6696.674-8  la suma de $ 300.0000      pesos, del curso ASISTENTE ADMINISTRATIVO CONTABLE  y sera cancelado en la siguiente modalidad: 6 cuotas iguales mensuales y sucesivas de $ 50,000 pesos, cantidad en letras Cincuenta Mil  pesos y 1 cuota de $ 30,000 pesos, cantidad en letra Treinta Mil  pesos por  concepto de Certificación.
</p>
    <p>Venciendo la primera cuota el día de 05-03-2019 y última cuota el día 05-08-2019, las demás el mismo día de los sucesivos meses siguientes correspondiente al arancel y con fecha 30-08-2019  a la cuota de certificación, hasta la extinción total de la obligación.</p>
    <p>En el caso de mora o simple retardo en el pago de una cualquiera de las cuotas este pagare devengará sobre el monto de la cuota vencida y adeudada el máximo de interés que la ley permite estipular, por todo el tiempo de la mora o retardo. Si la mora o simple retardo durare más de 10 días calendario, este pagaré se considerará en su totalidad como de plazo vencido para todos lo efectos legales pudiendo ser protestado de inmediato y devengará el interés máximo que la ley permite estipular sobre el saldo de capital adeudado. Se deja expresamente establecido que corresponderá al deudor acreditar el pago de las cuotas en que se divide el presente instrumento en caso de cobro judicial.</p>
    <p>La obligación de que da cuenta este pagaré es indivisible y podrá, en consecuencia, cobrarse en su totalidad, a cualquiera de los herederos del deudor.</p>
    <p>Para todos los efectos legales de este pagaré, fijo mi domicilio en esta ciudad y me someto a la jurisdicción de los tribunales de esta ciudad.</p>
    <p>Para el caso de no pago del pagaré suscrito o en caso de simple retardo o mora en el cumplimiento de las obligaciones contraídas, autorizamos al representante legal, para ingresar los datos personales y antecedentes del protesto o incumplimiento de un sistema de información comercial, facultando expresamente, su digitación, procesamiento tratamiento y comunicación en línea o cualquier otra forma y libere desde ya a Centro de Capacitacion Empowerment SPA. De dar aviso de pago o extinción de deuda, previo otorgamiento de constancia suficiente del pago de la deuda correspondiente, según lo dispuesto en la ley "19.628".</p>
    <p>En Valdivia , 16 de Marzo de 2019.</p>
    <p>SUSCRIPTOR	: SAMUEL ELIAS SEPULVEDA</p>
    <p>RUT : 18.590.694-9</p>
    <p>DIRECCIÓN	: YECO SN SAN JOSE</p>
    <p>TELEFONO	: 954465287</p>
    <p>E-MAIL	: MECHNNER@GMAIL.COM</p>
    <p style="text-align: center;padding-top: 15px">_____________________________</p>
    <p style="text-align: center">FIRMA / HUELLA</p>
    </div>
</div>
<!--
<div id="imprimir" style="display: none">
    <p>MODELO DE CERTIFICADO A EMITIR POR EL LICEO O COLEGIO DE ENSEÑANZA MEDIA.</p>
    <p style="text-align: center;padding-top: 50px"><b>CERTIFICADO DE ALUMNO PERTENECIENTE</b></p>
    <p style="text-align: center"><B>AL 50% MAS ALTO DE SU PROMOCION.</B></p>
    <p style="padding-top: 50px">Yo _________________________________________________________ (Nombre
            de quien emite el certificado) en mi calidad de
        _____________________________ (cargo que ocupa el funcionario en la
        institución) del _________________________________ (Nombre de la
        institución). </p>
    <br>
    <p>C E R T I F I C O: Que Don (ña) {{nombre_alumno}} (Nombre del estudiante) 
        RUT {{rut_alumno}} (indicar RUT del alumno) fue alumno en esta
        casa de estudios entre  los años ___________  y __________ fecha en
        la cual  egreso, con el siguiente promedio de notas ________, que lo
        ubica en el 50% más alto de los egresados de su promoción. </p>
    <br>
    <p>Se extiende el presente certificado para ser presentado en el Centro
        de Formación Técnica  CEDUC-UCN.</p>
    <p>En________________ a ______ de _______________________ de_________ </p>
    <p style="text-align: center;padding-top: 200px">_____________________________</p>
    <p style="text-align: center">(Nombre , Firma del encargado  y Timbre de la Institución )</p>
</div>-->
