<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    
    <div class="container" style="margin-top: -11%">
        <h2>Subir Matricula</h2>
        <div class="uk-overflow-auto" style="height:500px; overflow:auto;margin-top: 5%">
<!--name="form1" ng-submit="form1()" action="http://localhost/web_service_plataforma/Controllers/Matriculas/Subir_Archivo.php"-->
            <form  enctype="multipart/form-data" method="post" action="http://localhost/web_service_plataforma/Controllers/Matriculas/Subir_Archivo.php" class="uk-form-horizontal uk-margin-large" style="">
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <div uk-form-custom>
                            <input name="archivo" id="archivo" type="file" ng-model="url" required>
                            <button class="uk-button uk-button-primary" type="button" tabindex="-1" autofocus>Seleccione una matricula</button>
                            <input type="text" name="id" id="id" ng-model="id_usuario" style="display: none">
                        </div>
                        <div uk-form-custom>
                            <input name="archivo2" id="archivo2" type="file" ng-model="url_compromiso" required>
                            <button class="uk-button uk-button-primary" type="button" tabindex="-1" autofocus>Seleccione Compromiso de Pago</button>
                            <input type="text" name="url" id="url" ng-model="ruta_actual" style="display: none">
                        </div>
<!--
                        <label for="">File input</label>
                        <input type="file" id="exampleInputFile" onchange="copia()" ng-model="url">
-->
                    </div>
                </div>
                 <div style="text-align: right"><button ng-click="registrar()" class="uk-button uk-button-primary" style="background: green">Registrar</button></div>
            </form>
           
        </div>
	</div>
	<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
	
</div>






<div id="imprimir2">
    <img src="/img/head2.png" style="margin-left: 250px;visibility: hidden" width="550">
    <div style="display: none">
    <p>______________________________________________________________________</p>
    <p style="text-align: center;"><B>PAGARE A LA ORDEN</B><br>______________________________________________________________________</p>
    <div style="font-size: 11px"><p>SUSCRIPTOR:  SAMUEL ELIAS SEPULVEDA VIVANCO
Debo y pagaré a la orden de Centro de Capacitacion Empowerment . Institución educacional, persona natural de derecho privado, Rut. 76.6696.674-8  la suma de $ 300.0000      pesos, del curso ASISTENTE ADMINISTRATIVO CONTABLE  y sera cancelado en la siguiente modalidad: 6 cuotas iguales mensuales y sucesivas de $ 50,000 pesos, cantidad en letras Cincuenta Mil  pesos y 1 cuota de $ 30,000 pesos, cantidad en letra Treinta Mil  pesos por  concepto de Certificación.
</p>
    <p>Venciendo la primera cuota el día de 05-03-2019 y última cuota el día 05-08-2019, las demás el mismo día de los sucesivos meses siguientes correspondiente al arancel y con fecha 30-08-2019  a la cuota de certificación, hasta la extinción total de la obligación.</p>
    <p>En el caso de mora o simple retardo en el pago de una cualquiera de las cuotas este pagare devengará sobre el monto de la cuota vencida y adeudada el máximo de interés que la ley permite estipular, por todo el tiempo de la mora o retardo. Si la mora o simple retardo durare más de 10 días calendario, este pagaré se considerará en su totalidad como de plazo vencido para todos lo efectos legales pudiendo ser protestado de inmediato y devengará el interés máximo que la ley permite estipular sobre el saldo de capital adeudado. Se deja expresamente establecido que corresponderá al deudor acreditar el pago de las cuotas en que se divide el presente instrumento en caso de cobro judicial.</p>
    <p>La obligación de que da cuenta este pagaré es indivisible y podrá, en consecuencia, cobrarse en su totalidad, a cualquiera de los herederos del deudor.</p>
    <p>Para todos los efectos legales de este pagaré, fijo mi domicilio en esta ciudad y me someto a la jurisdicción de los tribunales de esta ciudad.</p>
    <p>Para el caso de no pago del pagaré suscrito o en caso de simple retardo o mora en el cumplimiento de las obligaciones contraídas, autorizamos al representante legal, para ingresar los datos personales y antecedentes del protesto o incumplimiento de un sistema de información comercial, facultando expresamente, su digitación, procesamiento tratamiento y comunicación en línea o cualquier otra forma y libere desde ya a Centro de Capacitacion Empowerment SPA. De dar aviso de pago o extinción de deuda, previo otorgamiento de constancia suficiente del pago de la deuda correspondiente, según lo dispuesto en la ley "19.628".</p>
    <p>En Valdivia , 16 de Marzo de 2019.</p>
    <p>SUSCRIPTOR	: SAMUEL ELIAS SEPULVEDA</p>
    <p>RUT : 18.590.694-9</p>
    <p>DIRECCIÓN	: YECO SN SAN JOSE</p>
    <p>TELEFONO	: 954465287</p>
    <p>E-MAIL	: MECHNNER@GMAIL.COM</p>
    <p style="text-align: center;padding-top: 15px">_____________________________</p>
    <p style="text-align: center">FIRMA / HUELLA</p>
    </div>
    </div>
</div>

<div id="imprimir">
    <div style="width: 500px"></div><img src="/img/head3.png" width="550" height="500">
    <p style="text-align: center;"><B>CONTRARTO</B><br></p>
    <div style="font-size: 11px"><p><b>YO  SAMUEL ELIAS SEPULVEDA VIVANCO   . RUT 18.590.694-9
    DIRECCION         YECO SN       SAN JOSE DE LA MARIQUINA</b>
    En este acto con fecha matrícula    {{fecha}}              declaro conocer y aceptar las siguientes
    </p>
    <p>1.- Todo alumno deberá cumplir un mínimo de asistencia equivalente al 75% del total de clases efectivamente realizadas por módulo. Si no cumpliese esta exigencia, podrá ser eliminado del curso. Debiendo pagar la totalidad del mismo. No serán eliminados aquellos alumnos cuya inasistencia sea debidamente justificada por sus apoderados. </p>
    <p>2.- El curso contratado por el alumno o su representante NO SON RENUNCIABLES. </p>
    <p>3.- El pago en cuotas del curso contratado es una facilidad que otorga el Centro de Capacitacion para él servicio de una deuda total. Nadie podrá eximirse de pagar la totalidad de esta última pretextando inasistencia del alumno a clases u otras causales, por muy justificables que ellas sean. </p>
    <p>4.- El abajo firmante, al optar por un sistema de facilidades para el pago de los cursos contratados, se compromete a cumplir oportunamente con las fechas de pagos fijadas de común a cuerdo con Centro de Capacitacion Empowerment. SPA. Y en caso de simple retardo, mora o incumplimiento en el pago, el compareciente autoriza al CENTRO DE CAPACITACION EMPOWERMENT. Para que informe de cualquiera de esos hechos a un banco de datos personales, para que sean procesados y transmitidos a terceros.</p>
    <p>6.- CENTRO DE CAPACITACION EMPOWERMENT. Reconoce como recibidas solo las cuotas pagadas en efectivo como tambien por medio de Deposito o Transferencia al Banco Estado Cuenta Vista 72171241341 Rut: 76.696.674-8 a nombre de CENTRO DE CAPACITACION EMPOWERMENT L. mail de recepción EMPOWERMENTVALDIVIA@GMAILCOM Cualquier transferencia o deposito a otras cuentas, no seran reconocidas como pago al Centro de Capacitacion.</p>
    <p>7- Todos los cursos están sujetos a un quórum mínimo de matriculados para dar inicio a las clases, lo cual faculta al Centro de Capacitación a cambiar la fecha de inicio de clases. En la eventualidad de no realizar el curso el Centro de CapacitacionEmpowerment., se obliga a devolver el monto total de lo pagado por el interesado pero no obliga a pagar algún tipo de indemnización alguna al alumno por el curso no realizado.</p>
    <br>
    <p style="text-align: center;"><B>PLAN DE PAGO CURSO ASISTENTE ADMINISTRATIVO</B><br></p>
    <table>
        <tr>
            <th></th>
            <th>VALOR</th>
            <th>VENCIMIENTO</th>
        </tr>
        <tr>
            <td>Cuota1</td>
            <td>$50.000</td>
            <td>05-03-19</td>
        </tr>
        <tr>
            <td>Cuota2</td>
            <td>$50.000</td>
            <td>05-04-19</td>
        </tr>
        <tr>
            <td>Cuota3</td>
            <td>$50.000</td>
            <td>05-05-19</td>
        </tr>
    </table>
    <br>
    <p></p>
<!--
    <pre style="text-align: center;padding-top: 80px">____________________________  _____________________________</pre>
    <pre style="text-align: center;">FIRMA/HUELLA ------------  FIRMA COORDINADOR</pre>
-->
    </div>
</div>

<!--
<div id="imprimir" style="display: none">
    <p>MODELO DE CERTIFICADO A EMITIR POR EL LICEO O COLEGIO DE ENSEÑANZA MEDIA.</p>
    <p style="text-align: center;padding-top: 50px"><b>CERTIFICADO DE ALUMNO PERTENECIENTE</b></p>
    <p style="text-align: center"><B>AL 50% MAS ALTO DE SU PROMOCION.</B></p>
    <p style="padding-top: 50px">Yo _________________________________________________________ (Nombre
            de quien emite el certificado) en mi calidad de
        _____________________________ (cargo que ocupa el funcionario en la
        institución) del _________________________________ (Nombre de la
        institución). </p>
    <br>
    <p>C E R T I F I C O: Que Don (ña) {{nombre_alumno}} (Nombre del estudiante) 
        RUT {{rut_alumno}} (indicar RUT del alumno) fue alumno en esta
        casa de estudios entre  los años ___________  y __________ fecha en
        la cual  egreso, con el siguiente promedio de notas ________, que lo
        ubica en el 50% más alto de los egresados de su promoción. </p>
    <br>
    <p>Se extiende el presente certificado para ser presentado en el Centro
        de Formación Técnica  CEDUC-UCN.</p>
    <p>En________________ a ______ de _______________________ de_________ </p>
    <p style="text-align: center;padding-top: 200px">_____________________________</p>
    <p style="text-align: center">(Nombre , Firma del encargado  y Timbre de la Institución )</p>
</div>-->
