<ng-include src="'tools/menu_up.html'"></ng-include>

<div class=".section section hero background-light">
    <div class="container" style="margin-top: -11%">
        <h2>Pagos de Cursos</h2>
        <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                <div>
                    <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: search"></span>
                                <input ng-model="buscar" class="uk-input" type="text" placeholder="Buscar">
                    </div>
                    <a style="background: green;" class="uk-button uk-button-danger" onclick="tableToExcel('testTable', 'Pagos_de_Cursos')">Excel</a>
                    <a href="#/pagar_alumno"><span class="uk-icon-button uk-margin-small-right" style="color: green;margin-left: 1%;" uk-icon="icon: plus-circle; ratio: 2"></span></a>
                </div>
            </div>
        <div class="uk-overflow-auto" style="margin-top: 2%">
            <table class="uk-table .table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Valor Pago</th>
                        <th>Detalle</th>
                        <th>Fecha</th>
                        <th>Tipo Pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="p in pagos_usuarios.pagos | filter:buscar | itemsPerPage: 5">
                        <td>{{p.nombre}}</td>
                        <td>{{p.rut}}</td>
                        <td>{{p.monto}}</td>
                        <td>{{p.detalle}}</td>
                        <td>{{p.fecha}}</td>
                        <td>{{p.tipo}}</td>
    <!--                    <td><a style="content: \0024;color: green" class="uk-icon-button uk-margin-small-right">&#36;</a></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls boundary-links="true" 
			direction-links="true"></dir-pagination-controls>
	</div>
    <!--Tabla de Exportación-->
    <table class="uk-table .table table-striped .ListaTabla header_fijo" id="testTable" style="display: none">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Valor Pago</th>
                        <th>Detalle</th>
                        <th>Fecha</th>
                        <th>Tipo Pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in pagos_usuarios.pagos | filter:buscar">
                        <td>{{p.nombre}}</td>
                        <td>{{p.rut}}</td>
                        <td>{{p.monto}}</td>
                        <td>{{p.detalle}}</td>
                        <td>{{p.fecha}}</td>
                        <td>{{p.tipo}}</td>
    <!--                    <td><a style="content: \0024;color: green" class="uk-icon-button uk-margin-small-right">&#36;</a></td>-->
                    </tr>
                </tbody>
            </table>
	<div class="background-image" style="background: url(template/images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
	
</div>